.root {
    -fx-background-color: white;
}

/* ================================================= */

/* Contenedor de pestañas */
.tab-pane {
    -fx-padding: 10px;
}

.tab-pane .tab-header-area {
    -fx-fill-width: true;
    -fx-spacing: 5px;
}

.tab-pane .tab-header-background {
    -fx-background-color: white;
    -fx-border-width: 0;
    -fx-alignment: CENTER;
}

/* Pestaña */
.tab-pane .tab {
    -fx-background-color: limegreen;
    -fx-padding: 10px;

    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-pref-height: 30px;

    -fx-cursor: hand;
}

/* Pestaña con raton encima */
.tab-pane .tab:hover {
    -fx-background-color: green;
}

/* Pestaña seleccionada */
.tab-pane .tab:selected {
    -fx-background-color: cyan;
}

/* Etiquetas de nombres de las pestañas */
.tab-pane .tab .tab-label {
    -fx-text-fill: white;
    -fx-font: bold 12 system;
    -fx-border-width: 0;
}

/* ================================================= */

#lstContacts {
    -fx-min-width: 250px;
    -fx-max-width: 500px;
    -fx-fill-height: true;

    -fx-background-color: limegreen;
    -fx-vbar-policy: as-needed;
    -fx-hbar-policy: never;
}

#lblTip {
    -fx-font: bold 29 system;
}

#msgPane .viewport {
    -fx-background-color: white;
}

/* ================================================= */

.background-panel {
    -fx-alignment: center;
    -fx-fill-width: true;
    -fx-background-color: white;

    /* scroll pane */
    -fx-fit-to-height: true;
    -fx-fit-to-width: true;
    -fx-vbar-policy: as-needed;
    -fx-hbar-policy: never;
}

/* ================================================= */

/* Contiene input de texto y botones */
.toolbar {
    -fx-alignment: center;
    -fx-background-color: white;
    -fx-spacing: 5px;
}

.text-field {
    -fx-border-color: limegreen;
}

.text-field:focused {
    -fx-border-color: black;
    -fx-border-width: 3px;
}

.button {
    -fx-text-fill: white;
    -fx-background-color: limegreen;
    -fx-padding: 10px;

    -fx-border-width: 0;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-pref-height: 30px;

    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: green;
}

/* ================================================= */

.list-view {
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-background-color: white;
}

/* Quitar el scroll horizontal de todos los ListView */
.list-view .scroll-bar:horizontal .increment-arrow,
.list-view .scroll-bar:horizontal .decrement-arrow,
.list-view .scroll-bar:horizontal .increment-button,
.list-view .scroll-bar:horizontal .decrement-button {
    -fx-padding: 0;
}
